<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Sale Request</title>
    <link rel="stylesheet" href="/static/farmer_request.css">
</head>

<body>

    <form id="myform">

        <h2>Place a new sale request</h2>

        <br>
        CROP TYPE<span class="c4">*</span><br>
        <div class="cropType">
            <div class="cropType2"><input type="radio" name="cropType" id="foodCrop" required onclick="tofill()">Food
                Crop</div>
            <div class="cropType2"><input type="radio" name="cropType" id="cashCrop" onclick="tofill()">Cash Crop</div>
        </div>

        <div id="data"></div>

    </form>

    <form action="/" method="get">
        <button id="dummybtn" style="display: none;">Submit</button>
    </form>

    <script>
        const form = document.getElementById("myform");
        form.addEventListener("submit", submitDetails);

        function tofill() {

            document.getElementById("data").innerHTML = "";

            const data =
                `CROP<span class="c4">*</span><br>
                <div id="toFill"></div>
                <br><br>
                QUANTITY (in quintals)<span class="c4">*</span><br>
                <input type="number" name="quantity" id="quantity" placeholder="Enter qty of produce(approx)" min="0.001" step="0.001" required class="input">
                <br><br>
                <button name="submit" id="submit">SUBMIT REQUEST</button>`;

            document.getElementById("data").innerHTML = data;

            let input = document.createElement("input");
            input.setAttribute("id", "crop");
            input.setAttribute("class", "input");
            input.setAttribute("autocomplete", "on");
            input.setAttribute("list", "options");
            input.setAttribute("required", "on");
            input.setAttribute("placeholder", "Choose the crop name");

            document.getElementById("toFill").appendChild(input);

            let dl = document.createElement("datalist");
            dl.setAttribute("id", "options");

            if (document.getElementById("foodCrop").checked) {
                const foodcrops = ['Apple', 'Banana', 'Barley', 'Brinjal', 'Chilli', 'Corn', 'Grape', 'Guava', 'Leafy Vegetables', 'Legumes', 'Maize', 'Mango', 'Millets', 'Onion', 'Pineapple', 'Potato', 'Rice', 'Sorghum', 'Strawberry', 'Tomato', 'Wheat'];

                for (let i = 0; i < foodcrops.length; ++i) {
                    let op = document.createElement("option");
                    op.setAttribute("value", foodcrops[i]);
                    // console.log(foodcrops[i]);
                    dl.appendChild(op);
                }
            }
            else {
                const cashcrops = ['Almond', 'Cashewnut', 'Castor', 'Cocoa', 'Coconut', 'Coffee', 'Cotton', 'Groundnut', 'Jute', 'Linseed', 'Oilseeds', 'Soybean', 'Spices', 'Sugarcane', 'Tea'];

                for (let i = 0; i < cashcrops.length; ++i) {
                    let op = document.createElement("option");
                    op.setAttribute("value", cashcrops[i]);
                    // console.log(foodcrops[i]);
                    dl.appendChild(op);
                }
            }

            document.getElementById("toFill").appendChild(dl);
        }

        async function submitDetails() {
            event.preventDefault();

            let category = "";
            if (document.getElementById("foodCrop").checked) category = "food crop";
            else if (document.getElementById("cashCrop").checked) category = "cash crop";

            const crop = document.getElementById("crop").value;
            const quantity = document.getElementById("quantity").value;

            let sysdate = new Date();

            const result = await fetch("/newRequestSuccess", {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    category, crop, quantity, sysdate
                })
            });

            const st = await result.json();

            if (st.status == 200)
                document.getElementById("dummybtn").click();

        }


    </script>
</body>

</html>